/* ============================================================================
   MÉMOS TECHNIQUES
   ============================================================================ */

/* Mémo technique pour les unités de mesure en CSS :

    - rem  : textes, titres, marges et paddings globaux (accessibilité)
    - em   : composants dépendants du texte (boutons, badges, cards)
    - px   : bordures, séparateurs, ombres, détails fins
    - %    : largeurs fluides, images responsives
    - vw/vh: sections plein écran, hero, layouts liés au viewport

    rem :  1rem = taille de la police racine (généralement 16px)
    em  :  1em  = taille de la police de l'élément parent
    px  :  1px  = 1 pixel fixe
    %   :  largeur/hauteur en pourcentage par rapport à l'élément parent
    vw  :  1vw  = 1% de la largeur du viewport
    vh  :  1vh  = 1% de la hauteur du viewport
*/

/* Les bonnes pratiques pour les unités de mesure en CSS :

    Espace = rem
    Texte  = rem
    Composant = em
    Précision = px
    Fluidité = %
    Plein écran = vw / vh
*/

/* Mémo technique pour les positions CSS :

    static   : position par défaut dans le flux normal
    relative : positionné par rapport à sa position normale
    absolute : positionné par rapport à l'ancêtre positionné le plus proche
    fixed    : positionné par rapport au viewport
    sticky   : bascule entre relative et fixed selon le scroll

    top, right, bottom, left : décalages
    z-index : ordre de superposition
*/

/* Mémo technique pour les floats CSS :

    float       : flottement gauche/droite
    clear       : stoppe le flottement
    clearfix    : contient les floats
*/


/* RÈGLES GÉNÉRALES */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1.4;
	letter-spacing: 0.2px;
	font-family: 'Times New Roman', Times, serif;
	background: #D0BA95;
	background: -webkit-linear-gradient(90deg, rgba(208, 186, 149, 1) 0%, rgba(199, 164, 111, 1) 50%, rgba(232, 213, 188, 1) 100%);
	background: -moz-linear-gradient(90deg, rgba(208, 186, 149, 1) 0%, rgba(199, 164, 111, 1) 50%, rgba(232, 213, 188, 1) 100%);
	background: linear-gradient(90deg, rgba(208, 186, 149, 1) 0%, rgba(199, 164, 111, 1) 50%, rgba(232, 213, 188, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#D0BA95", endColorstr="#E8D5BC", GradientType=1);
}

main {
	flex: 1;
	width: 100%;
}


/* TYPOGRAPHIE */

h1,
h2,
h3 {
	margin: 0.75rem 0;
	text-align: center;
}

/* J'utilise une fonction clamp pour définir une valeur minimum, préférée et maximum pour chacun de mes titres */

h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h2 {
    font-size: clamp(1.25rem, 4vw, 2rem);
}

h3 {
    font-size: clamp(1rem, 3vw, 1.5rem);
}


/* LES ÉLÉMENTS GÉNÉRIQUES */

/* Boutons génériques */
button {
	border: none;
	background-color: rgb(6, 6, 6);
	color: white;
	cursor: pointer;
}

/* Images génériques */
.banner img,
article img {
	width: 100%;
	height: auto;
}

article img {
	max-width: 100px;
}

/* Tableaux génériques */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 1rem;
	background-color: #ccc;
}

th,
td {
	padding: 0.75rem;
	border: 0.5px solid black;
}

table th {
	background-color: rgb(240, 240, 240);
	text-align: center;
}

/* iframes */
iframe {
	width: 100%;
	height: 300px;
	border: none;
	border-radius: 8px;
}

/* HEADER & NAVIGATION */

.header {
	background-color: #0e2146;
	padding: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	flex-shrink: 0;
}

.logo img {
	display: block;
	width: 70px;
	height: auto;
}

.navbar {
	display: flex;
	gap: 0.75rem;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.navbar a {
	color: white;
	text-decoration: none;
	white-space: nowrap;
	font-size: clamp(0.75rem, 2vw, 1.25rem);
	padding: 0.2rem 0.50rem;
	margin: 0 1rem;
}

.navbar a:hover {
	background-color: #fbbf1b;
	border-radius: 10px;
	color: black;
	cursor: pointer;
}


/* BANNER */

.banner {
	position: relative;
	height: 70vh;
	min-height: 300px;
	overflow: hidden; 
	background-image: url('../images/banner.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


.banner h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: #fff;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}


/* ARTICLES  */

article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem;
}

article h3 {
	margin: 0.75rem 0;
	font-size: clamp(0.95rem, 2.5vw, 1.25rem)
}

article dl {
	width: 100%;
	text-align: center;
}

article dt {
	font-weight: bold;
}

/* Boutons dans les articles */
article button {
	width: 120px;
	height: auto;
	padding: 0.60rem;
	margin-top: 0.75rem;
}


/* PAGE ACCUEIL  */

.home-section {
	width: 100%;
	padding: 1.25rem;
}


.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #ffffff9c;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
	padding: 0.700rem 0.500rem;
	border-radius: 10px;

}


/*  PAGE NOTRE SÉLECTION */

.selection-section {
	width: 100%;
	padding: 1.25rem;
}

.selection-section article {
	width: 400px;
	padding: 1.25rem;
}

.selection-section p {
	font-size: clamp(0.85rem, 2vw, 1rem);
	letter-spacing: 0.2px;
	text-align: center;
}


/* PAGE À PROPOS */

.about-section h2,
.about-section p {
	color: #d6ac63;
}

.about-section p {
	font-size: clamp(0.85rem, 2vw, 1rem);
	padding: 0.600rem;
	text-align: center;
}

.about-section address {
	font-size: 1rem;
	text-align: center;
}

/* Conteneur des descriptions  */
.container-description {
	padding: 0.800rem;
}


/* Cartes de description */
.description {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1.25rem;
}

.gallery-picture {
	max-width: 600px;
	height: auto;
}

.picture {
	padding: 0.780rem;
}

.vertical-line {
	width: 2px;
	background-color: #0e2146;
	height: 200px;
	margin: 0.600rem;
}

.infos {
	background-color: #0e2146;
	padding: 0 0.700rem;
	border-radius: 10px;
	padding: 1.25rem;
}

.infos h2 {
	color: #d6ac63;
	text-align: center;
}

.infos p {
	color: #d6ac63;
	text-align: left;
	font-size: clamp(0.75rem, 2vw, 1rem);
	letter-spacing: 1px;
}



/* PAGE ÉVÉNEMENTS */

.events-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
	padding: 1.25rem;
}

.events-section p {
	max-width: 600px;
	text-align: center;
}

/* Boutons dans les tableaux */
table button {
	padding: 0.50rem 1rem;
}


/* PAGE CONTACT  */

.contact-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
	padding: 1.25rem;
}

.contact-section h1 {
	margin-bottom: 1rem;
}

/* Formulaire de contact */
.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
	max-width: 500px;
	padding: 1.25rem;
	border: 0.4px solid black;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.field-group {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.field-group label {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.field-group input,
.field-group textarea {
	padding: 0.5rem;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #dddddd;
	font-size: 1rem;
}

.field-group textarea {
	background-color: #dddddd;
}

/* Bouton du formulaire */
.contact-form button {
	width: 150px;
	height: auto;
	padding: 0.60rem;
}

/* Bloc localisation (adresse + carte) */
.location {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 0.867rem;
	color: white;
	border: 0.4px solid black;
	border-radius: 10px;
	background-color: #0e2146;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.location-adress {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

/*  FOOTER */

footer {
	background-color: rgb(14, 33, 70);
	text-align: center;
	padding: 2.3rem;
	width: 100%;
}

footer p {
	color: white;
	font-size: clamp(0.85rem, 2vw, 1rem);
}


/* LES ANIMATIONS */

article:hover {
	background-color: #132242;
	border: 2.5px solid #d6ac63;
	color: #d6ac63;
	border-radius: 10px;
}

article img:hover {
	transform: scale(1.1);
	transition: transform 0.3s;
	cursor: pointer;
	opacity: 85%;
}

/* L'attribut transform permet de modifier l'apparence d'un élément, ici j'utilise scale 
   pour agrandir l'élément au survol. L'attribut transition permet de définir la durée 
   et le type de transition pour une propriété spécifique (ici transform) */

article button:hover {
	transform: scale(1.2);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	transition: transform 0.3s;
}


/* RESPONSIVE DESIGN */

/* TABLETTE */

@media (max-width: 1023px) {

	/* Header & Navigation */
	.logo img {
		width: 52px;
	}

	.banner {
		height: 50vh;
	}

	/* Page Accueil */
	.grid-container {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	/* Page Sélection */
	.selection-section {
		gap: 1.25rem;
	}

	.selection-section h1 {
		grid-column: 1 / -1;
	}

	.selection-section article {
		width: 100%;
	}

	/* Page À propos */
	.about-section {
		padding: 1.25rem 0.625rem;
	}

	.about-section p {
		max-width: 100%;
		text-align: center;
	}

	.description {
		flex-direction: column;
	}

	.gallery-picture {
		max-width: 450px;
	}

	.vertical-line {
		display: none;
	}

	/* Page Événements */
	.events-section {
		padding: 1.25rem 0.625rem;
	}

	.events-section p {
		max-width: 100%;
		text-align: center;
	}

	.events-section table {
		font-size: 0.9rem;
	}

	/* Page Contact */

	.location {
		grid-template-columns: 1fr;
	}


}


/* MOBILE (max-width: 767px) */

@media (max-width: 767px) {

	/* Ajustement général */
	body {
		padding-top: 45px;
	}

	/* Header & Navigation */
	.header {
		padding: 1rem;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
	}

	.navbar {
		position: absolute;
		top: 100%;
		right: -100%;
		/* Le menu est bien caché à droite (hors de notre vision)*/
		width: 35%;
		height: auto;

		background: #222;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		transition: right 0.5s ease;
		padding: 1.25rem;
		z-index: 999;
	}


	.navbar.active {
		right: 0;
		/* Glisse vers la gauche pour devenir visible */
	}

	.burger-menu {
		width: 40px;
		height: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: transparent;
		/* Pour enlever l'arrière plan du menu burger */
		border: none;
		/* On retire les bordures de chaque côtés */
		cursor: pointer;
	}

	/* Je forme une croix avec les lignes du menu burger */

	/* Je fais descendre la première barre de 11px vers le bas et je la tourne à 45° */
	.burger-menu.active span:nth-child(1) {
		transform: translateY(11px) rotate(45deg);
	}

	/* Je fais disparaître la deuxième barre avec une opacité à 0 */
	.burger-menu.active span:nth-child(2) {
		opacity: 0;
	}

	/* Je fais remonter la 3ème barre de 16px vers le haut et je la tourne à -45° */
	.burger-menu.active span:nth-child(3) {
		transform: translateY(-16px) rotate(-45deg);
	}

	.burger-line {
		width: 100%;
		height: 2px;
		background: white;
		border-radius: 3px;
		transition: 0.3s;
	}


	/* Banner */
	main {
		margin-top: 0;
	}

	.banner {
		height: 40vh;
	}

	.banner img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}


	/* Page Accueil */
	.grid-container {
		grid-template-columns: 1fr;
	}

	/* Page Sélection */
	.selection-section {
		display: flex;
		flex-direction: column;
		padding: 1.25rem 0.600rem;
	}

	.selection-section article {
		width: 100%;
	}


	/* Page À propos */
	.about-section {
		padding: 1.25rem 0.600rem;
	}

	.description {
		flex-direction: column;
	}

	.gallery-picture {
		max-width: 320px;
	}

	.vertical-line {
		display: none;
	}

	.location {
		grid-template-columns: 1fr;
	}

	/* Page Événements */
	.events-section {
		align-items: stretch;
	}

	.events-section table {
		width: 100%;
	}

	.events-section th:nth-child(4),
	.events-section td:nth-child(4),
	.events-section th:nth-child(3),
	.events-section td:nth-child(3) {
		display: none;
	}
}